# Verify desired state, both absent and present can be verified.
---
- name: "State variables - {{ desired_state }}"
  ansible.builtin.include_vars: "{{ desired_state }}.yml"

- name: Gather package facts
  ansible.builtin.package_facts:
  no_log: true

- name: "Plan: {{ package_clause }}"
  ansible.builtin.assert:
    that: package_clause is defined

- name: "Test: {{ package_clause }}"
  ansible.builtin.assert:
    quiet: true
    that:
      - package_clause

- name: Gather service facts
  ansible.builtin.service_facts:
  no_log: true

- name: Assert service absence
  when: desired_state == 'absent'
  ansible.builtin.assert:
    quiet: true
    that:
      - ansible_facts.services['nginx'] is not defined

- name: Test the service
  when: desired_state == 'present'
  block:
    - name: Assert that service is OK
      ansible.builtin.assert:
        quiet: true
        that:
          - ansible_facts.services['nginx.service'].status == 'enabled'
          - ansible_facts.services['nginx.service'].state == 'running'

    - name: Verify service_port is listening
      ansible.builtin.wait_for:
        port: "{{ service_port }}"
        state: started
        timeout: 10

